<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/ozgur1975/index.json" />
    
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="ozgur1975"/>
				<add key="ClearTextPassword" value="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" />        
		</github>
	</packageSourceCredentials>
</configuration>